<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            PMT | {{#if (eq Locale "vi")}}Đặt lại mật khẩu{{else}}Reset password{{/if}}
        </title>
        <style>
            body {
                position: relative;
                height: 100vh;
                margin: 0;
                text-align: center;
            }
            
            .container {
                width: 100%;
                max-width: 700px;
                height: 100%;
                padding: 35px;
                border-radius: 5px;
                background-color: #222831;
                color: #fff;
            }

            .card {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
            }

            span {
                color: #ffbe33;
            }

            button {
                padding: 1em 6em;
                border: 0;
                border-radius: 5px;
                background-color: #ffbe33;
                transition: all 0.3s ease-in;
            }

            button:hover {
                background-color: #e69c00;
            }

            .spacing {
                margin-top: 3rem;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="card">
                <h1 style="margin-top: 0">
                    <span>{{#if (eq Locale "vi")}}Xin chào{{else}}Hello{{/if}}</span> {{Fullname}}!
                </h1>
                <p>
                    {{#if (eq Locale "vi")}}
                        Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn
                    {{else}}
                        We received a request to reset the password for your account
                    {{/if}}
                </p>
                <p>
                    {{#if (eq Locale "vi")}}Bạn đã quên mật khẩu?{{else}}Forgot your password?{{/if}}
                </p>

                <div class="spacing">
                    <p>
                        {{#if (eq Locale "vi")}}
                            Để đặt lại mật khẩu, hãy ấn vào nút bên dưới
                        {{else}}
                            To reset your password, click the below button
                        {{/if}} 👇🏻
                    </p>
                    <p>
                        {{#if (eq Locale "vi")}}
                            Liên kết này sẽ hết hiệu lực trong 10 phút
                        {{else}}
                            This link will expire in 10 minutes
                        {{/if}}
                    </p>
                    <a href="{{ResetPasswordUrl}}" target="_blank">
                        <button style="cursor: pointer">
                            {{#if (eq Locale "vi")}}Đặt lại mật khẩu{{else}}Reset my password{{/if}}
                        </button>
                    </a>
                </div>

                <p class="spacing" style="margin-bottom: 0">
                    {{#if (eq Locale "vi")}}
                        Cảm ơn bạn đã ủng hộ PMT, chúc bạn một ngày tốt lành!
                    {{else}}
                        Thank you for choosing PMT, we wish you a great day!
                    {{/if}}
                </p>
            </div>
        </div>
    </body>
</html>
